body {
    display: flex;
    align-items: center;
    height: 100dvh;
    background-color: #3c4146;
    flex-direction: column;
}

/* start-screen のスタイル */
#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    /* background-image: url('../images/start-background.jpg'); */
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

#start-screen h1 {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

#start-button {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    transition: background-color 0.3s, transform 0.3s;
}

#start-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

/* game-clear-screen のスタイル */
#game-clear-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* 画面全体に固定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 中央寄せ */
    width: 100%;
    height: 100%;
    /* background-image: url('../images/clear-background.jpg'); */
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}

#game-clear-screen h1 {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

#game-clear-screen p {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

/* テーブルのスタイル */
#game-clear-screen table {
    width: 40%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#game-clear-screen th,
#game-clear-screen td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}

#game-clear-screen th {
    background-color: black;
    color: white;
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
}

#game-clear-screen td {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
}

#game-clear-screen tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

#submit-score-form {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-name {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    background-color: #3c4146;
    color: #fff;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#submit-score-button {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    transition: background-color 0.3s, transform 0.3s;
}

#submit-score-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

#player-name:focus {
    border-color: #ff9900;
    box-shadow: 0 0 15px #ff9900;
}

#restart-button {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    transition: background-color 0.3s, transform 0.3s;
}

#restart-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* カードを中央揃え */
}

.card {
    width: 15%;
    /* デフォルトのカード幅を15%に設定 */
    padding-top: calc(15% * (88 / 63));
    /* アスペクト比を維持するための高さ */
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.matched {
    pointer-events: none;
    animation: matchGlow 1s ease-in-out;
}

@keyframes matchGlow {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    50% {
        box-shadow: 0 0 20px #ff0;
    }

    100% {
        box-shadow: 0 0 5px #fff;
    }
}

.card.matched .back-face {
    transition: .5s;
    filter: grayscale(100%);
    pointer-events: none;
}

.front-face,
.back-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
}

.front-face {
    background-image: url('../images/front-face.png');
    /* 統一された表面の画像 */
}

.back-face {
    transform: rotateY(180deg);
}

#mission-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.left-screen,
.right-screen {
    position: absolute;
    width: 200%;
    height: 150%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
}

.left-screen {
    top: -100%;
    left: -150%;
    transform: rotate(-45deg);
}

.right-screen {
    bottom: -100%;
    right: -150%;
    transform: rotate(-45deg);
}

.slideInTopLeft {
    animation: slideInTopLeft .5s forwards;
}

.slideOutTopLeft {
    animation: slideOutTopLeft .5s forwards;
}

.slideInBottomRight {
    animation: slideInBottomRight .5s forwards;
}

.slideOutBottomRight {
    animation: slideOutBottomRight .5s forwards;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.modal-content p {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    color: #000;
}

.modal-content #modal-text {
    display: none;
}

@keyframes slideInTopLeft {
    0% {
        top: -200%;
        left: -150%;
    }

    100% {
        top: -100%;
        left: -60%;
    }
}

@keyframes slideInBottomRight {
    0% {
        bottom: -200%;
        right: -150%;
    }

    100% {
        bottom: -100%;
        right: -60%;
    }
}

@keyframes slideOutTopLeft {
    0% {
        top: -100%;
        left: -60%;
    }

    100% {
        top: -200%;
        left: -150%;
    }
}

@keyframes slideOutBottomRight {
    0% {
        bottom: -100%;
        right: -60%;
    }

    100% {
        bottom: -200%;
        right: -150%;
    }
}



.mission-text {
    position: absolute;
    color: white;
    font-size: 2em;
    text-align: center;
    opacity: 0;
    z-index: 1001;
}
.mission-text h1{
    margin-bottom: .2em;
}
.mission-text p{
    margin: .3em;
}
.mission-text span {
    font-size: .5em;
    display: block;
}
.fadeIn {
    animation: fadeIn .5s 1s forwards;
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 700;
}

/* ランキングナビゲーションのスタイル */
#ranking-nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 300;
}

#ranking-button {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    transition: background-color 0.3s, transform 0.3s;
}

#ranking-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

/* ランキングモーダルのスタイル */
#ranking-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1003;
    padding: 20px;
    text-align: center;
}

#ranking-modal h1 {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

#ranking-modal h1::after {
    display: block;
    font-size: .8em;
    content: 'TOP20';
    margin-top: -.5em;
}

#ranking-table-container {
    width: 100%;
    height: 60dvh;
    overflow-y: auto;
    margin-bottom: 20px;
}

#ranking-table {
    width: 100%;
    border-collapse: collapse;
}

#ranking-table thead {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#ranking-table th,
#ranking-table td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}

#ranking-table th {
    background-color: #ffcc00;
    color: #fff;
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
}

#ranking-table td {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
}


#ranking-modal-message {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#back-to-title-button {
    font-family: 'Yu-Gi-Oh', sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    transition: background-color 0.3s, transform 0.3s;
}

#back-to-title-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

@keyframes dot-blink {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }
}

#modal-message::after,
#ranking-modal-message::after {
    content: '';
    animation: dot-blink 1s steps(1, end) infinite;
}

/* PC用のスタイル */
@media (min-width: 1024px) {
    .card {
        width: calc(100% / 8 - 10px);
        /* 横に6枚表示 */
        padding-top: calc((100% / 8 - 10px) * (88 / 63));
        /* アスペクト比を維持するための高さ */
    }

    body {
        height: 100dvh;
        overflow: hidden;
    }

    .left-screen,
    .right-screen {
        position: absolute;
        width: 200%;
        height: 150%;
        background-color: rgba(0, 0, 0, 1);
        z-index: 1000;
    }

    .left-screen {
        top: -100%;
        left: -150%;
        transform: rotate(-45deg);
    }

    .right-screen {
        bottom: -100%;
        right: -150%;
        transform: rotate(-45deg);
    }

    @keyframes slideInTopLeft {
        0% {
            top: -200%;
            left: -150%;
        }

        100% {
            top: -100%;
            left: -60%;
        }
    }

    @keyframes slideInBottomRight {
        0% {
            bottom: -200%;
            right: -150%;
        }

        100% {
            bottom: -100%;
            right: -60%;
        }
    }

    .mission-text {
        position: absolute;
        color: white;
        font-size: 2em;
        text-align: center;
        opacity: 0;
        z-index: 1001;
    }

    #submit-score-form {
        width: 40%;
        flex-direction: row;
    }

    #player-name {
        width: 50%;
    }

    #submit-score-button {
        width: 40%;
        font-size: 1.3em;
    }

    #ranking-modal {
        width: 60%;
        padding: 20px;
    }

    #ranking-modal h1 {
        font-size: 2em;
    }

    #ranking-table th,
    #ranking-table td {
        padding: 10px;
        font-size: 1.2em;
    }

    #ranking-modal-message {
        font-size: 1.2em;
    }

    #back-to-title-button {
        font-size: 1.5em;
        padding: 10px 20px;
    }
}

/* モバイル用のスタイル */
@media (max-width: 1023px) {

    #start-screen h1,
    #game-clear-screen h1 {
        font-size: 2em;
    }

    #start-button,
    #restart-button {
        font-size: 1.2em;
        padding: 8px 16px;
    }

    #restart-button {
        margin-top: 20px;
    }

    #game-clear-screen p {
        font-size: 1.2em;
    }

    .card {
        width: calc(100% / 4 - 10px);
        /* 横に4枚表示 */
        padding-top: calc((100% / 4 - 10px) * (88 / 63));
        /* アスペクト比を維持するための高さ */
    }

    .left-screen,
    .right-screen {
        position: absolute;
        width: 300%;
        height: 150%;
        background-color: rgba(0, 0, 0, 1);
        z-index: 1000;
    }

    .left-screen {
        top: -100%;
        left: -150%;
        transform: rotate(-25deg);
    }

    .right-screen {
        bottom: -100%;
        right: -150%;
        transform: rotate(-25deg);
    }

    @keyframes slideInTopLeft {
        0% {
            top: -200%;
            left: -150%;
        }

        100% {
            top: -100%;
            left: -60%;
        }
    }

    @keyframes slideInBottomRight {
        0% {
            bottom: -200%;
            right: -150%;
        }

        100% {
            bottom: -100%;
            right: -60%;
        }
    }

    .mission-text {
        position: absolute;
        color: white;
        font-size: 1em;
        text-align: center;
        opacity: 0;
        z-index: 1001;
    }

    #game-clear-screen table {
        width: 80%;
        border-collapse: collapse;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    #game-clear-screen th,
    #game-clear-screen td {
        padding: 5px;
        border: 1px solid #fff;
        text-align: center;
    }

    #submit-score-form {
        width: 80%;
        flex-direction: column;
    }

    #player-name {
        width: 90%;
        margin-bottom: 5px;
        padding: 5px;
    }

    #submit-score-button {
        width: 100%;
        padding: 5px 10px;
        font-size: 1.1em;
    }

    #ranking-modal {
        width: 90%;
        padding: 10px;
    }

    #ranking-modal h1 {
        font-size: 1.5em;
    }

    #ranking-table th,
    #ranking-table td {
        padding: 5px;
        font-size: 1em;
    }

    #ranking-modal-message {
        font-size: 1em;
    }

    #back-to-title-button {
        font-size: 1.2em;
        padding: 8px 16px;
    }

    #ranking-button {
        font-size: 1.1em;
        padding: 5px 10px;
    }
}